.bar {
  position: absolute;
  bottom: 120px;
  left: 550px;
  width: 25%;
  z-index: 1;
}

.back {
  position: fixed;
  top: 18px;
  right: 25px;
  width: 7%;
  z-index: 1;
}

img.fish {
  position: absolute;
  max-width: 80%;
  max-height: 100%;
  left: 183px;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

img.title {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 20%;
  height: auto;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

img.sea{
  position: absolute;
  width: 12%;
  bottom: 66px;
  left: 400px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

img.river {
  position: absolute;
  width: 12%;
  bottom: 66px;
  left: 880px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}