.bar {
  position: absolute;
  bottom: 120px;
  left: 540px;
  width: 25%;
  z-index: 1;
}

.back {
  position: fixed;
  top: 18px;
  right: 25px;
  width: 7%;
  z-index: 1;
}

img.fish {
  position: absolute;
  width: 95%;
  max-height: 100%;
  top: -5px;
  left: 65px;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

img.title {
  position: fixed;
  left: 5px;
  top: 5px;
  width: 25%;
  height: auto;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

img.sea{
  position: absolute;
  width: 12%;
  bottom: 66px;
  left: 390px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

img.river {
  position: absolute;
  width: 12%;
  bottom: 66px;
  left: 870px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}