.fish-detail {
  overflow: hidden;
}

.title {
  position: fixed;
  left: -10px;
  width: 25%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.back {
  position: fixed;
  top: 21px;
  right: 25px;
  width: 7%;
  z-index: 1;
}

.back:hover {
  background-color: #d3d3d3;
  border-radius: 10px;
}

img.fish {
  width: 100%;
  margin-top: -10%;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.sea {
  position: absolute;
  width: 17%;
  margin-top: -20%;
  margin-left: 13%;
  margin-right: 100%;
  user-select: none;
  pointer-events: none;
}

.river {
  position: absolute;
  width: 17%;
  margin-top: -20%;
  margin-left: 70%;
  margin-right: 25%;
  user-select: none;
  pointer-events: none;
}

.bar {
  z-index: 0;
  margin-top: -14%;
  margin-left: 30%;
  margin-right: 30%;
}

.hidden {
  display: none;
}