    img.main_title {
        width: 25%;
        position: absolute;
        top: 80px;
        left: 530px;
    }
    
    img.fish_link {
        width: 30%;
    }
    
    ul.menu li {
        list-style-type:none;
        display: inline;
    }

    .fishes {
        position: absolute;
        top: 147px;
        left: 85px;
    }